.projectsSection {
  padding: 60px 16px;
  background: linear-gradient(135deg, #e9f7fe, #e9f7fe); /* پس‌زمینه آبی */
  font-family: "yekan", sans-serif;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1); /* سایه ملایم */
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 18px;
}

.heading {
  font-size: 38px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  margin-bottom: 60px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.card {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 28px 50px rgba(16, 24, 40, 0.25);
}

.cardImg {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  border-radius: 16px;
  transition: transform 0.5s ease;
}

.card:hover .cardImg {
  transform: scale(1.05);
}

.title {
  padding-left: 140px;
  position: absolute;
  bottom: 16px;
  left: 16px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  z-index: 2;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
  transition: transform 0.4s ease;
   font-family: yekan;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(15, 23, 42, 0.7);
  color: #fff;
  padding: 16px;
  text-align: center;
  transform: translateY(100%);
  opacity: 0;
  transition: all 0.4s ease;
  border-radius: 0 0 16px 16px;
  font-family: yekan;
}

.card:hover .title {
  transform: translateY(-80px);
}

.card:hover .overlay {
  transform: translateY(-40px);
  opacity: 1;
}

.overlayDesc {
  font-size: 14px;
  margin: 0;
  line-height: 1.5;
   font-family: yekan;
   padding-right: 20px;
}

.buttonWrapper {
  text-align: center;
  margin-top: 40px;
  
}

.viewMoreBtn {
  background-color: #fcb53b;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 32px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.viewMoreBtn:hover {
  background-color: #12295cff;
  color: #fff;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

/* Media Queries */
@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 992px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .cardImg {
    height: 250px;
  }
}

@media (max-width: 576px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .cardImg {
    height: 200px;
  }
}

html{
     font-family: yekan;
}

div{
     font-family: yekan;
}

