body {
  font-family: "Vazir", sans-serif;
  direction: rtl;
}

.bayside-hero {
  background: url("/Picture/beatiful buildings (1).jpg") center/cover no-repeat;
  height: 80vh;
  color: white;
}

.features {
  background: #fff;
}

.gallery {
  background: #f8f9fa;
}

.contact {
  background: #343a40;
}