@font-face {
  font-family: 'yekan';
  src: url('/fonts/Yekan.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body { font-family: 'yekan', sans-serif; }
@import url('https://fonts.googleapis.com/css2?family=Vazir:wght@400;700&display=swap');


.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-lg-3,
.col-md-6 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
